In [1]:
import pandas as pd
import numpy as np
import os 
import json
import sys

from functools import lru_cache

from botocore.exceptions import ClientError

In [2]:
from user_path import set_up_path 

PATH = set_up_path()
sys.path.append(PATH['tools'])
sys.path.append(PATH['tools'] + '/functions')

In [3]:
from functions.database import get_data_from_warehouse
from utils.gspread.gsheet_data import GetSheetData

In [4]:
query = """select COUNT(DISTINCT stuart_package_id)
    
from dim.package p
WHERE pu_city = 'London'
LIMIT 100000
"""
data = get_data_from_warehouse(query)

Connected to the DataWarehouse
Result from query obtained
Data stored in dataframe

In [5]:
data

      count
0  19905268

In [9]:
from password_downloader import get_passwords
# Gets a bunch of passwords. Here is specifically for the uk
PASSWORDS = get_passwords('uk') 

# PASSWORDS helps to get a connection to GSheet???
sheet = GetSheetData(DICT=PASSWORDS['gsheet_client_secret'])

In [12]:
# Connecting to GSheet
sheet_name = 'Sourcing / Onboarding Catchment Areas'

# Indicates which GSheet workbook I need
tab = 'OB Revamp Mapping'
catch_areas = sheet.worksheet_data(sheet_name, tab)

In [15]:
catch_areas

,City,Sourcing / OB Catchment Areas,StuartPoolswithinCatchmentArea,,,,,,,,
0,Basildon,Basildon,BasildonCentral,Laindon,Pitsea,,,,,,
1,Birmingham,Birmingham Central,BirminghamCentral,BirminghamYardley,BirminghamHandsworth,,,,,,
2,Birmingham,Birmingham North,BirminghamErdington,BirminghamSuttonColdfield,,,,,,,
3,Birmingham,Birmingham East,BirminghamSolihull,BirminghamHallGreen,BirminghamAcocksGreen,,,,,,
4,Birmingham,Birmingham South,BirminghamSellyOak,Northfield,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
77,Sunderland,Sunderland,SunderlandWessingtonWay,Sunderland,SunderlandRyhope,SunderlandSilksworth,,,,,
78,Teesside,Teesside,TeessideThornaby,Stocktonontees,Middlesbrough,MiddlesbroughSouth,MiddlesbroughEston,StocktonNorth,StocktonOnTees,,
79,Warrington,St Helens,StHelens,,,,,,,,
80,Warrington,Warrington City,WarringtonCentral,,,,,,,,
81,Warrington,Widnes,Widnes,,,,,,,,