In [1]:
import pandas as pd
import numpy as np
import os 
import json
import sys

from functools import lru_cache

from botocore.exceptions import ClientError

In [2]:
from user_path import set_up_path 

PATH = set_up_path()
sys.path.append(PATH['tools'])
sys.path.append(PATH['tools'] + '/functions')

In [22]:
from functions.database import get_data_from_warehouse
from utils.gspread.gsheet_data import GetSheetData

In [19]:
query = """select COUNT(DISTINCT stuart_package_id)
    
from dim.package p
WHERE pu_city = 'London'
LIMIT 100000
"""
data = get_data_from_warehouse(query)

Connected to the DataWarehouse
Result from query obtained
Data stored in dataframe

In [20]:
data

      count
0  19905268